
#landingPageInfo {
    margin-left: 3em;
    margin-right: 3em;
    
}
#searchPageInfo {
    margin-left: 3em;
    margin-right: 3em;

}

#cocktailPageInfo {
    margin-left: 3em;
    margin-right: 3em;
}

#favoritePageinfo {
    margin-left: 3em;
    margin-right: 3em;

}