@import url(./Header.css);
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.bunny.net/css?family=arima-madurai:400");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* --darkestbrown: #800000;
  --darkbrown: #982b1c;
  --darkestbeige: #dad4b5;
  --darkbeige: #dad4b5;
  --lightbeige: #f2e8c6;
  --lightest: #fefcf3; */

a {
  color: #800000;
  text-decoration: none;
  margin: 1rem;
  transition: transform 0.3s ease;
  font-family: "Rancho", cursive;
  font-size: 2.5rem;
  font-weight: 500;
}

.hover-effect:hover {
  transform: scale(1.1);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: #fefcf3;
  margin: 0;

  #root {
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #f1ecdb;
  box-shadow: 0px 0px 27px -7px rgba(122, 122, 122, 0.267);
  transition: transform 0.3s ease;
  font-family: "Arima Madurai", display;
  font-weight: 400;
}

button:hover {
  border-color: #8000004b;
  transform: scale(1.1);
}

.favoriteButton {
  cursor: pointer;
  color: red;
  font-size: 60px;
  margin-bottom: 1rem;
}

.favoriteButton:hover {
  transform: scale(1.1);
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Arima Madurai", display;
  background-color: #f1ecdb;

  .footer-links {
    margin-top: 0.5rem;
  }

  p {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 20px;
  }

  a {
    font-size: 2rem;
    font-family: "Arima Madurai", display;
    font-weight: 500;
  }
  @media (max-width: 600px) {
    justify-content: center;

    p {
      display: none;
    }
    a {
      font-size: 1.5rem;
    }
  }
}

.not-found {
  text-align: center;
  img {
    max-width: 10rem;
  }
  h1,
  h2 {
    font-family: "Arima Madurai", display;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2.2rem;
    font-family: "Rancho", cursive;
  }

  @media (max-width: 600px) {
    img {
      width: 8rem;
    }

    h1 {
      font-size: 2.6rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      text-align: center;
      margin: 0 3rem 3rem;
      font-size: 2rem;
    }
  }
}

.loader {
  width: 70px;
  height: 160px;
  position: relative;
  margin: 5rem 0;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid #bbb6aa;
  border-bottom: 4px solid #bbb6aa;
  background: linear-gradient(#612329 0 0) bottom no-repeat content-box, #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #eb6b3e;
  transform-origin: bottom;
  transform: rotate(8deg);
}
@keyframes l1 {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 5%;
  }
}

.new-cocktail-button {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
