@import url(./Header.css);
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: var(--lightest);
  margin: 0;

  --darkestbrown: #800000;
  --darkbrown: #982b1c;
  --darkestbeige: #dad4b5;
  --darkbeige: #dad4b5;
  --lightbeige: #f2e8c6;
  --lightest: #fefcf3;
}

a {
  color: #800000;
  text-decoration: none;
  margin: 1rem;
  transition: transform 0.3s ease;
  font-family: "Rancho", cursive;
  font-size: 2.5rem;
  font-weight: 500;
}

a:hover {
  transform: scale(1.1);
}

body {
  margin: 0;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #f1ecdb;
  box-shadow: 0px 0px 27px -7px rgba(122, 122, 122, 0.267);
  transition: transform 0.3s ease;
}
button:hover {
  border-color: #8000004b;
  transform: scale(1.1);
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #531810;

  a {
    font-size: 2rem;
  }
}
