.ingredient-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ingredient-title {
    font-family: "Arima Madurai", display;
    margin: 2rem 0 1rem;
    font-size: 2.8rem;
    align-self: center;

    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }

  h3 {
    font-family: "Arima Madurai", display;
    font-size: 1.5rem;
  }
  .category {
    font-family: "Arima Madurai", display;
    font-size: 1.2rem;
  }
  .drink-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 10rem;
    border-radius: 10px;
    background-color: #f1ecdb34;
    /* background-color: #b9875823; */
    /* background-color: #b9635823; */
    padding: 1rem 2rem;
    border: 1px solid #b84e4079;

    @media (max-width: 800px) {
      margin: 2rem 1rem;
    }

    .ingredient-img {
      width: 20rem;
      height: auto;
      align-self: center;
      @media (max-width: 800px){
        width: 50%;
      }
    }
    .ingredient-description {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
  }

  .ingredient-drink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3rem 6rem 0 6rem;
    grid-auto-rows: auto;
    gap: 2rem;
    margin-bottom: 2rem;

    .cocktail-card {
      transition: transform 0.3s ease;
      margin-bottom: 3rem;
      @media (max-width: 600px) {
        width: 80%;
        justify-self: center;
      }
    }
    .cocktail-card:hover {
      transform: scale(1.05);
    }

    .cocktail-body {
      padding: 0;
      margin: 0;
      height: 100%;
      cursor: pointer;
      justify-content: flex-end;

      figure {
        margin: 1rem;
        box-sizing: border-box;
      }

      .cocktail-thumbnail {
        width: 100%;
        height: 100%;
      }

      h1 {
        font-size: 2rem;
        margin: 1rem 1rem 0 1rem;
        text-align: center;

        @media (max-width: 900px) {
          font-size: 1.8rem;
        }
      }
    }

    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 4rem 3rem 0 3rem;
    }

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      margin: 4rem 3rem 0 3rem;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      margin: 4rem 1rem 0 1rem;
    }
  }
}
