.pagination {
  .pagination-navigation {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 2em;

    button {
      margin: 5px;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        width: fit-content;
        margin: 3px;
        padding: 0.3em 1rem;
      }

      .page-button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3rem 6rem;
    grid-auto-rows: auto;
    gap: 1rem;

    .cocktail-card {
      transition: transform 0.3s ease;
    }
    .cocktail-card:hover {
      transform: scale(1.05);
    }

    .cocktail-body {
      padding: 0;
      margin:  0;
      height: 100%;
      cursor: pointer;
      justify-content:space-between;

      figure{
       margin: 1rem;
       box-sizing: border-box;
      }

      .cocktail-thumbnail {
        width: 100%;

      }

      h1 {
        font-size: 2.2rem;
        margin: 2rem 0 0 0;
        text-align: center;
        

        @media (max-width: 900px) {
          font-size: 1.8rem;
        }
      }
   
    }

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      margin: 3rem 4rem;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      margin: 3rem 4rem;

      .pagination-navigation {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.activeIndex {
  background-color: #dad4b5;
}
