.pagination {
  .pagination-navigation {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 2em;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 3rem 6rem;
    grid-auto-rows: auto;
    column-gap: 1em;
    row-gap: 1em;
    .cocktail-body {
      padding: 0;
      margin: 0;
      height: 100%;

      .cocktail-thumbnail {
        width: 80%;
      }

      h1 {
        font-size: 2.2rem;
        margin: 1rem;
        text-align: center;
      }
    }
    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.activeIndex {
  background-color: #dad4b5;
}
